/* Start Resposnive Mobile */

@media (min-width: 300px) {
  /* Nav Bar */

  .container {
    width: 300px;
    margin: 0 auto;
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
}
