/* Start Resposnive Mobile */

@media (max-width: 300px) {
  /* Nav Bar */

  .container {
    width: 300px;
    margin: 0 auto;
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .info .wpex-hamburger-icon {
    background-image: url("./images/7466709.png");
    background-image: url("./images/2997911.png");
    background-repeat: no-repeat;
  }
}
